.about-container {
  background-image: url("../assets/woman-1081873_1920.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.about-container::before {
  background-image: url("../assets/gridtile.png");
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header-logo-link {
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}

.header-link {
  color: white;
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 2px;
}

.about-content {
  position: relative;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about--title-text {
  color: white;
  opacity: 0.3;
  font-size: 100px;
  text-transform: uppercase;
  margin: 10px;
  letter-spacing: 30px;
  font-weight: bold;
  display: flex;
  text-align: center;
}

.about-text {
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.about-text-1 {
  color: #4aaacc;
  font-size: 60px;
  margin-right: 20px;
}

.about-text-2 {
  color: #4aaacc;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 60px;
  margin-right: 20px;
}

.about-text-3 {
  color: white;
  font-size: 60px;
  margin-right: 20px;
}

.about-text-4 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;

}

.header-burger-menu-dropdown-link-text {
  color: black;
  padding: 14px 140px 16px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  line-height: 1;
}

.header-burger-menu-dropdown-link-text:first-of-type {
  padding-top: 0;
}

.header-burger-menu .icon {
  display: block;
  position: absolute;
  right: 0;
  top: 34px;
  color: white;
  cursor: pointer;
  margin-right: 50px;
  margin-top: 20px;
}

.header-burger-menu-dropdown-link-text:hover {
  color: #49a6c7;
}

.hamburger-icon-size {
  font-size: 25px;
}

.menu {
  background-color: white;
  color: black;
  width: 25%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 999;
  top: 0;
  right: 0;
  text-align: right;
  position: fixed;
  transition: right 0.8s linear;
}

.menu-hidden {
  right: calc(75% - 100%);
}

.menu-close {
  margin-right: 50px;
  text-decoration: none;
  border: none;
  font-size: 20px;
  margin-top: 50px;
  cursor: pointer;
  outline: none;
}

.menu-close-btn {
  font-size: 25px;
}

.header-social-icon {
  margin-right: 5px;
  font-size: 18px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  line-height: 8px;
  vertical-align: middle;
  padding: 5px;
  width: 28px;
  height: 28px;
}

.header-social-icon:last-child {
  margin-right: 0;
}

.header-social-icon:hover .icon-link {
  transition: 0.2s ease-in-out;
  color: #4aaacc;
}

.icon-link {
  color: white;
  transition: 0.2s color;
}

.header-social-media-icons {
  position: absolute;
  height: 40px;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

@media screen and (max-width: 1000px) {
  .about-text,
  .about-text-1,
  .about-text-2,
  .about-text-3,
  .about-text-4 {
    display: flex;
    font-size: 40px;
  }

  .about--title-text {
    font-size: 80px;
  }

  .menu {
    width: 33%;
  }

  .menu-hidden {
    right: calc(64% - 100%);
  }
}

@media screen and (max-width: 768px) {
  .about-text,
  .about-text-1,
  .about-text-2,
  .about-text-3,
  .about-text-4 {
    display: flex;
    font-size: 40px;
  }

  .about--title-text {
    font-size: 80px;
  }

  .menu {
    width: 100%;
  }

  .menu-hidden {
    right: -100%;
  }
}
